.exp {
    display: grid;
    max-width: 75rem;
    margin: 0 auto;
    padding: 2.5rem 1.25rem;
    grid-template-columns: 1fr 2fr;
    gap: 6.25rem;
}

.exp-titulo {
    font-size: 8rem;
    padding: 0 2rem 2rem 0;
    line-height: 1;
    color: #b8b8a1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

.exp-texto {
    place-self: start;
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 3.5rem;
    margin-right: 12rem;
    max-width: 40ch;
    color: #342e1f;
}

.exp-texto strong {
    color: #141414;
}

.exp-quadro {
    position: relative;
    background: #b8b8a1;
    gap: 10px 20px;
    padding: 1.2rem;
    border-radius: 0.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.exp-quadro::before {
    content: '';
    position: absolute;
    width: 0.25rem;
    height: 1.3rem;
    background: repeating-linear-gradient(#b8b8a1, #201e1a);
    display: block;
    left: -0.25rem;
    top: 1.2rem;
}

.ano {
    position: absolute;
    left: -6rem;
    top: 1.5rem;
    font-size: 0.9rem;
    text-align: right;
    width: 80px;
    color: #525252;
}

.descricao {
    grid-row: 2;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #525252;
}

.exp-itens ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: start;
    padding: 0.2rem;
    margin: 0;
}

.exp-itens li {
    max-height: 1rem;
    background: #ffffff;
    margin: 0.3rem;
    border-radius: 0.25rem;
    line-height: 1.4;
    padding: 0.4rem;
    font-size: 0.875rem;
}

@media (max-width: 1000px) {
    .exp-texto {
        margin-right: 0;
    }
}

@media (max-width: 800px) {
    .exp {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .exp-titulo {
        font-size: 3rem;
        text-transform: capitalize;
        color: #141414;
        padding: 0;
        word-break: normal;
    }

    .exp-texto {
        font-size: 1.3rem;
        margin-right: 0;
    }

    .ano {
        position: initial;
        order: 1;
        width: initial;
        text-align: left;
    }
}

@media (max-width: 500px) {
    .exp-quadro {
        grid-template-columns: 1fr;
    }
}