body {
    font-family: "Fira Sans", serif;
    margin: 0;
    gap: 3.75rem;
    color: #2f2f2d;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.exp-titulo, .formaçao-titulo {
    font-size: 8rem;
    line-height: 1;
    text-transform: uppercase;
    word-break: break-all;
    max-width: 4ch;
}

@media (max-width: 800px) {
    .exp-titulo, .formaçao-titulo {
        font-size: 3rem;
        text-transform: capitalize;
        max-width: initial;
    }
}
